$icon-font-path: "/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto;
  width: 720px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.volume-label {
  text-align: center;
}

.mute-button, .mute-button:focus {
  outline: none !important;
  -webkit-outline: none !important;
}

.mute-button {
  position: relative;
  width: 100%;
}

.knob-row {
  height: 70px;
}

.slider-row {
  height: 400px;
}

.knob {
  cursor: pointer;
  display: block;
  position: relative;
  margin-left: 50%;
  left: -25px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 25px;

  &::after {
    content: "";
    display: block;
    position: relative;
    margin-top: -21px;
    margin-left: 50%;
    width: 5px;
    left: -2.5px;
    height: 10px;
    background: #000;
    border-radius: 5px;
  }
}

.centered {
  text-align: center;
}

.bottom {
  margin-bottom: 20px;
}

canvas.visualizer {
  width: 100%;
}

input[type=range].music-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 18.15px 0;
  width: 300px;
  height: 20px;
  display: block;
  position: relative;
  margin-left: 50%;
  left: -150px;
  margin-top: 60px;
  top: 110px;
  transform: rotateZ(-90deg);
  writing-mode: bt-lr;
  background: transparent;
}
input[type=range].music-slider:focus {
  outline: none;
}
input[type=range].music-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #c8c8c8;
  border-radius: 0px;
  border: 1px solid #000000;
}
input[type=range].music-slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2px solid rgba(100, 100, 100, 0.4);
  height: 40px;
  width: 31px;
  border-radius: 5px;
  background: #191919;
  cursor: grab;
  -webkit-appearance: none;
  margin-top: -19.15px;
}
input[type=range].music-slider:focus::-webkit-slider-runnable-track {
  background: #c8c8c8;
}
input[type=range].music-slider::-moz-range-track {
  width: 100%;
  height: 3.7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #c8c8c8;
  border-radius: 0px;
  border: 1px solid #000000;
}
input[type=range].music-slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2px solid rgba(100, 100, 100, 0.4);
  height: 40px;
  width: 31px;
  border-radius: 5px;
  background: #191919;
  cursor: grab;
}
input[type=range].music-slider::-ms-track {
  width: 100%;
  height: 3.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].music-slider::-ms-fill-lower {
  background: #c8c8c8;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].music-slider::-ms-fill-upper {
  background: #c8c8c8;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].music-slider::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2px solid rgba(100, 100, 100, 0.4);
  height: 40px;
  width: 31px;
  border-radius: 5px;
  background: #191919;
  cursor: grab;
  height: 3.7px;
}
input[type=range].music-slider:focus::-ms-fill-lower {
  background: #c8c8c8;
}
input[type=range].music-slider:focus::-ms-fill-upper {
  background: #c8c8c8;
}
